body
{
	background-color:white;
}

a
{
	color:white;
	text-decoration:none; /*afairei ti grammi apo link*/
}

.main
{
	background-image:url("../images/bg.jpg");
	width:80%;
	height:95%;
	margin:0 auto; /*gia kentrarisma sti mesi*/
	/*resize:both; allagi  megethos eikonas*/
	overflow:auto; /*megawnei i eikona oso grafoume*/
	background-repeat:no-repeat;
}

.logo
{
	margin-top:2%;
	margin-left:5%;
	float:left;
	width:10%;
	height:10%;
}

.social
{
	float:right;
	width:15%;
	height:10%;
	margin:1%;
}

.social ul li
{
	display:inline;
}



.menu
{
	clear:both; /*feugei apo ta float*/
	text-align:center;
	color:white;
	font-family: 'Lobster', cursive;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	
    
}

.menu ul li
{
	display:inline;
	padding:2%;
}

.menu ul
{
	border-top:2px white solid;
	border-bottom:2px white solid;
	margin-left:25%;
	margin-right:25%;
	
}
.contactbox
{
	background-color:black;
	opacity: 0.3;
    filter: alpha(opacity=50);
	border:2px white solid;
	width:30%;
	height:70%;
	margin:4%;
	opacity:0.9;
	color:white;
	padding:2% 4%;
	float:left;
}
.mapbox
{
	background-color:black;
	opacity: 0.3;
    filter: alpha(opacity=50);
	border:2px white solid;
	width:30%;
	height:70%;
	margin:4%;
	opacity:0.9;
	color:white;
	padding:2% 4%;
	float:right;
	
}